/* DEFAULT PAGE LAYOUT */
body{
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*{
  box-sizing: border-box;
}

.topNav .topNavMid .currentActiveTab{
  color: var(--color_eight);
}

button.goUp{
  position: fixed;
  float: right;
  bottom: 20px;
  z-index: 3;
  right: 50px;
  background-color: var(--color_one);
  color: #0ebcf6;
  padding: var(--padding_one);
  border-radius: 50%;
  font-size: large;
  transition: var(--transition_one);
  display: none;
  place-items: center;
  border: none;
  outline: none;
  box-shadow: 0 0 15px 5px rgb(72, 72, 72);
}
button.goUp:hover{
  transform: scale(.9);
  box-shadow: none;
}

:root{
  --color_one: rgb(45, 45, 45);
  --color_two: #3d3a50;
  --color_three: #0ebcf6;
  --color_four: #1b1b1b;
  --color_five: rgb(82, 82, 82);
  --color_six: rgb(215, 35, 35);
  --color_seven: rgb(0, 82, 0);
  --color_eight: darkorange;
  --color_nine: #f7f2ef;
  --color_ten: #bfbbaf;
  --color_eleven: #045844;
  --gap_one_px: 25px;
  --transition_one: 150ms;
  --padding_one: 20px;
  --padding_two: 10px;
  --border_radius: 10px;
  --input_margins: 20px;
  --input_margins2: 7.5px;
  --shadow: 0 0 30px 0 rgb(27, 27, 27);
  --shadow2: 0 0 8px 2px rgb(206, 206, 206);
  --shadow3: 10px 15px 10px 0px rgb(202, 202, 202);
  --shadow4: 10px 10px 10px 0px rgb(187, 187, 187);
  --transform: scaleX(1.1);
  --huge-padding: 25px;
}

::-webkit-scrollbar{
  width: 0;
}
::-webkit-scrollbar-thumb{
  background-color: var(--color_two);
}
::selection{
  background-color: var(--color_three);
  color: var(--color_one);
}
::-moz-selection{
  background-color: var(--color_three);
  color: var(--color_one);
}

.topNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  background-color: var(--color_one);
  padding: 0 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
  transition: var(--transition_one);
}

.topNav ul li{
  list-style: none;
}
.topNav .links{
  text-decoration: none;
  color: var(--color_nine);
  transition: var(--transition_one);
}
.topNav .links:hover{
  color: var(--color_three);
}



.topNav .topNavLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topNav .topNavLeft .companyLink{
  margin: 0 30px;
  text-decoration: none;
  color: var(--color_three);
}

.topNav .topNavMid{
  position: relative;
  display: flex;
  align-items: center;
}
.topNav .topNavMid ul{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap_one_px);
}


.topNav .topNavRight{
  position: relative;
}
.topNav .topNavRight ul{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap_one_px);
  align-items: center;
}

.topNav .topNavRight ul li span{
  color: var(--color_four);
  position: relative;
  font-size: larger;
}
.topNav .topNavRight ul li span sup{
  color: var(--color_three);
}
.topNav .topNavRight ul .linksOne{
  display: block;
}
.topNav .topNavRight ul .linksTwo{
  display: none;
}

/* default divs...where they render */
.renderDivs{
  padding: var(--padding_one);
  box-sizing: border-box;
  margin: 0;
  position: relative;
  width: 100%;
  background-color: var(--color_four);
}


/* SIGN UP */

.signupModal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color_four);
  display: grid;
  place-content: center;
  z-index: 4;
}
.signup {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.5em;;
}

.signupModal form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 650px;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background: var(--color_four);
  /* box-shadow: 16px 16px 32px #484848, -16px -16px 32px #303030; */
  border-radius: 8px;
  padding: 20px;
  margin: var(--input_margins);
  overflow-y: auto;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.signupModal form .mainForm{
  height: auto!important ;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.signupModal form .mainForm .left{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.signupModal form .mainForm .right{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}

.signupModal form .inputBox,
.signupModal form .inputBox1 {
  position: relative;
  width: 250px;
}

.signupModal form .inputBox input,
.signupModal form .inputBox1 input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: var(--color_nine);
  font-size: 1em;
  background: transparent;
  /* border-left: 2px solid #000; */
  border-bottom: 2px solid var(--color_five);
  transition: 0.1s;
  /* border-bottom-left-radius: 8px; */
  margin: 30px 0;
}

.signupModal form .inputBox span,
.signupModal form .inputBox1 span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(22.5px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: var(--color_five);
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.signupModal form .inputBox input:valid~span,
.signupModal form .inputBox input:focus~span,
.signupModal form .inputBox1 input:valid~span,
.signupModal form .inputBox1 input:focus~span {
  transform: translateX(113px) translateY(12.5px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.signupModal form .inputBox1 input:valid~span,
.signupModal form .inputBox1 input:focus~span {
  transform: translateX(156px) translateY(12.5px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.signupModal form .inputBox input:valid,
.signupModal form .inputBox input:focus,
.signupModal form .inputBox1 input:valid,
.signupModal form .inputBox1 input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.signupModal form .inputBox1 select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px;
  width: 100%;
  transition: 0.1s;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color_five);
  margin: 30px 0;
  font-size: 1em;
  color: var(--color_nine);
}
.signupModal form .inputBox1 select option{
  background-color: var(--color_four);
  color: var(--color_nine);
  padding: var(--padding_one);
}
.signupModal form .inputBox1 select:focus{
  border: 2px solid var(--color_four);
  border-radius: 8px;
}
.signupModal form .inputBox1 select:focus~span{
  transform: translateX(156px) translateY(12.5px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: var(--color_nine);
  border: 2px;
}
.signupModal form .hasAccount{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding_two);
}
.signupModal form .hasAccount #shiftToLogin{
  text-decoration: none;
  color: var(--color_three);
  margin: var(--input_margins);
}
.signupModal form .hasAccount #shiftToLogin:hover{
  color: var(--color_eight);
  text-decoration: underline;
}

.signupModal form .buttonsDiv{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.signupModal form .buttonsDiv button{
  height: 45px;
  width: max-content;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: .3s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin: 3em;
  padding: auto 100px;
  border: none;
  outline: none;
}
.signupModal form .buttonsDiv button:nth-child(1){
  color: var(--color_eight);
  background-color: var(--color_four);
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}
.signupModal form .buttonsDiv button:nth-child(2){
  background-color: red;
}

.signupModal form button[type="submit"]:hover {
  background-color: var(--color_four);
  color: var(--color_three);
}
.signupModal form button[type="button"]:hover {
  background-color: rgb(221, 1, 1);
}

.signupModal .countriesDiv{
  position: fixed;
  width: max-content;
  height: 99px;
  display: none;
  flex-direction: column;
  float: left;
  top: 50px;
  left: 0;
  background-color: var(--color_four);
  overflow-y: scroll;
  box-sizing: border-box;
  border: 1px solid var(--color_nine);
  border-radius: var(--border_radius);
}
.signupModal .countriesDiv button{
  position: relative;
  height: calc(100% / 3);
  border: none;
  background-color: inherit;
  color: var(--color_nine);
  outline: none;
  padding: var(--padding_one);
  display: grid;
  place-content: center;
}
.signupModal .countriesDiv button:hover{
  background-color: var(--color_three);
  color: var(--color_four);
}



/* LOGIN */
.mainLog{
  position: fixed;
  background-color: var(--color_four);
  display: grid;
  place-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 4;
}
.mainLog .loginModal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  background-color: var(--color_four);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.mainLog .loginModal > span {
  position: relative;
  width: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainLog .loginModal > form > span{
  position: relative;
  width: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--input_margins);
}
.mainLog .loginModal > form > span > a{
  color: var(--color_three);
  text-decoration: none;
}
.mainLog .loginModal > form > span > a:hover{
  color: var(--color_three);
  text-decoration: underline;
  color: var(--color_eight);
}

.loginModal .loginFormPC {
  position: relative;
}

.loginModal .loginFormPC input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
  border: none;
  border-bottom: 2px solid var(--color_five);
  outline: none;
  background: transparent;
}

.loginModal .loginFormPC label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: var(--color_nine);
  pointer-events: none;
  transition: .5s;
  opacity: .4;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  margin-left: 10px;
}

.loginModal .loginFormPC input:focus ~ label, .loginModal .loginFormPC input:valid ~ label {
  top: -25px;
  left: 0;
  color: #bdb8b8;
  font-size: 10px;
  opacity: 1;
}

.loginModal form .loginButtons {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.loginModal form .loginButtons button[type="submit"] {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--color_nine);
  border: none;
  outline: none;
  background-color: var(--color_four);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  letter-spacing: 4px;
}
.loginModal form .loginButtons button[type="button"] {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--color_nine);
  border: none;
  outline: none;
  background-color: red;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: var(--transition_one);
  margin-top: 40px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  letter-spacing: 4px;
  border-radius: var(--border_radius);
}
.loginModal form .loginButtons button[type="button"]:hover{
  background-color: rgb(221, 1, 1);
}


.loginModal form .loginButtons button[type="submit"]:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f,
              0 0 25px #03f40f,
              0 0 50px #03f40f,
              0 0 100px #03f40f;
}

.loginModal form .loginButtons button[type="submit"] span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.loginModal form .loginButtons button[type="submit"] span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}





.hasSearch{
  width: 100vw;
  padding: var(--padding_two);
  background-color: var(--color_one);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  top: 0;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  transition: var(--transition_one);
}

.hasSearch .menuBtn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: var(--color_four);
  color: var(--color_five);
  outline: 1px solid var(--color_four);
}

.hasSearch .menuBtn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
  transform: scaleX(.8);
}

.hasSearch .menuBtn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.hasSearch .menuBtn .text {
  transform: translateX(55px);
}

.hasSearch .menuBtn:hover .icon {
  width: 175px;
}

.hasSearch .menuBtn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.hasSearch .menuBtn:focus {
  outline: none;
}

.hasSearch .menuBtn:active .icon {
  transform: scale(0.85);
}

.hasSearch input{
  padding: var(--padding_two);
  background-color: transparent;
  border: 1px solid var(--color_nine);
  border-radius: var(--border_radius);
  color: var(--color_nine);
  outline: none;
}
.hasSearch input::placeholder{
  color: var(--color_nine);
  font-style: italic;
  opacity: .35;
}

/* menu */
.sideMenu{
  position: fixed;
  height: 100vh;
  width: 20vw;
  top: 0;
  left: -100vw; /* hide the sidemenu by default*/
  background-color: var(--color_four);
  z-index: 4;
  transition: var(--transition_one);
  min-width: max-content;
  overflow: auto;
}
.sideMenu nav{
  height: 100%;
  background-color: var(--color_one);
  display: flex;
  flex-direction: column;
}
.sideMenu nav button{
  display: flex;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color_one);
  border: none;
  outline: none;
  transition: 100ms;
  color: var(--color_one);
}
.sideMenu nav button .sideNavLinks{
  color: var(--color_nine);
  text-decoration: none;
  transition: var(--transition_one);
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: var(--huge-padding);
  justify-content: left;
}
.sideMenu nav button .sideNavLinks:hover{
  text-indent: 10px;
  color: var(--color_three);
}
.sideMenu .sideMenuOff{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding-bottom: 30px;
  background-color: var(--color_one);
}
.sideMenu .sideMenuOff span{
  padding: var(--padding_one);
  font-size: 30px;
  color: red;
}
.sideMenu .sideMenuOff span:hover{
  color: rgb(241, 1, 1);
}


/* ACTIONS */
.actions{
  background-color: var(--color_one);
  display: none;
  position: absolute;
  outline: 2px solid var(--color_four);
  overflow: hidden;
  box-sizing: border-box;
  border-radius: var(--border_radius);
  z-index: 4;
  height: max-content;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  transition: var(--transition_one);
}

.actions nav{
  display: flex;
  flex-direction: column;
  list-style: none;
  box-sizing: border-box;
}
.actions nav button{
  padding: var(--padding_one);
  background-color: var(--color_four);
}
.actions nav button:first-child{
  border-top-left-radius: var(--border_radius);
  border-top-right-radius: var(--border_radius);
}
.actions nav button:last-child{
  border-bottom-left-radius: var(--border_radius);
  border-bottom-right-radius: var(--border_radius);
}
.actions nav button .actionLinks{
  transition: var(--transition_one);
  text-decoration: none;
  color: var(--color_five);
  margin: var(--padding_one);
  
}
.actions nav button:hover .actionLinks{
  color: var(--color_three);
  font-weight: bolder;
  letter-spacing: 3px;
}

.renderDivs{
  background-color: var(--color_one);
}

.homePage{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.homePage .slideshowdiv{
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.homePage .slideshowdiv .leftOfSlideshow{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}
.homePage .slideshowdiv .leftOfSlideshow img{
  position: relative;
  height: 180px;
  cursor: pointer;
  border-radius: var(--border_radius);
}
/* Create the animation for slideshow images */
.homePage .slideshowdiv .leftOfSlideshow .slideImages{
  opacity: 0; /**begin at nothing then JavaScript will do the work. */
  transition: all 1s ease-in-out;
}

.homePage .slideshowdiv .leftOfSlideshow .slideshowDots{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  width: 100%;
  height: 20px;
}
.homePage .slideshowdiv .leftOfSlideshow .slideshowDots .dots{
  position: inherit;
  height: 5px;
  width: 5px;
  background-color: rgb(200, 200, 200);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition_one);
}
.homePage .slideshowdiv .leftOfSlideshow .slideshowDots .activeSlide{
  width: 15px;
  height: 15px;
}
.homePage .slideshowdiv .leftOfSlideshow .slideshowDots .bordersActive{
  width: 9px;
  height: 9px;
}
.homePage .heroImage{
  position: relative;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/04/23/23/luggage-1799224_1280.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 100vh;
  border-radius: var(--border_radius);
}

.homePage p{
  margin: 30px;
  word-break: keep-all;
}
.homePage footer{
  background-color: var(--color_four);
  position: relative;
  color: var(--color_four);
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  width: 100%;
  border-radius: var(--border_radius);
}
.homePage footer div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  color: var(--color_one);
}
.homePage footer div a{
  color: var(--color_three);
  margin: var(--input_margins) 0;
  text-decoration: none;
  transition: var(--transition_one);
}
.homePage footer div:last-child a{
  font-size: larger;
}
.homePage footer div a:hover{
  letter-spacing: 0.1vw;
}


#renderMarket{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color_nine);
}

/* Market place divs*/
#renderMarket .imageDiv{
  position: relative;
  border-radius: var(--border_radius);
  width: 22vw;
  min-width: 250px;
  margin: 1vw;
  height: max-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1.5px solid var(--color_four);
  padding: var(--padding_one);
  transition:.3s ease all;
  z-index: 2;
  background-color: var(--color_one);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}
#renderMarket .imageDiv:hover{
  transform: scale(0.98);
  box-shadow: none;
}
#renderMarket .imageDiv img{
  position: relative;
  width: 100%;
  border-radius: var(--border_radius);
}
#renderMarket .imageDiv .title{
  text-align:center;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
  display: grid;
  place-content: center;
  font-weight: bolder;
  color: black;
}
#renderMarket .imageDiv .div1{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
#renderMarket .imageDiv .div1 .cartButton, #renderMarket .imageDiv .div1 .sellerButton{
  position: relative;
  padding: var(--padding_two);
  font-size: 0.9rem;
  border: none;
  outline: none;
  border-radius: var(--border_radius);
  margin: var(--input_margins) 0;
  transition: var(--transition_one);
}
#renderMarket .imageDiv .div1 .cartButton{
  background-color: var(--color_three);
  color: var(--color_one);
}
#renderMarket .imageDiv .div1 .cartButton:hover{
  background-color: var(--color_one);
  color: var(--color_three);
  transform: var(--transform);
}
#renderMarket .imageDiv .div1 .sellerButton{
  background-color: black;
  color: var(--color_three);
}
#renderMarket .imageDiv .div1 .sellerButton:hover{
  color: var(--color_eight);
  transform: var(--transform);
}
#renderMarket .imageDiv .buyButton{
  border: none;
  outline: none;
  padding: var(--padding_one);
  width: 90%;
  border-radius: var(--border_radius);
  background-color: black;
  color: var(--color_nine);
  transition: var(--transition_one);
}
#renderMarket .imageDiv .buyButton:hover{
  transform: var(--transform);
  color: var(--color_eight);
}

#renderMarket .imageDiv .pricesDiv{
  position: inherit;
 width: 100%; 
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
#renderMarket .imageDiv .pricesDiv .oldPrice{
  text-decoration: line-through;
  color: var(--color_six);
}
#renderMarket .imageDiv .pricesDiv .newPrice{
  color: var(--color_eight);
}

#renderMarket .imageDiv .priceDiscount{
  position: absolute;
  float: right;
  right: 0;
  top: 0;
  background-color: var(--color_eight);
  height: 20px;
  border-bottom-left-radius: 10px;
  padding: 0 var(--padding_one);
  width: max-content;
  padding: none;
  display: flex;
  place-items: center;
}
#renderMarket .imageDiv .priceDiscount p{
  position: relative;
}



.searchResult{
  color: green;
}

.actionCannotComplete{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000dd;
  place-items: center;
  z-index: 5;
}
.actionCannotComplete .innerActionCannotComplete{
  background-color: black;
  padding: 50px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}
.actionCannotComplete .innerActionCannotComplete p{
  color: var(--color_five);
}
.actionCannotComplete .innerActionCannotComplete p a{
  color: var(--color_three);
}
.actionCannotComplete .innerActionCannotComplete .cannotCompleteCancel{
  width: 100%;
  margin-bottom: var(--input_margins);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.actionCannotComplete .innerActionCannotComplete .cannotCompleteCancel button{
  background-color: var(--color_six);
  border: none;
  outline: none;
  padding: 3px;
  border-radius: var(--border_radius);
  font-size: large;
  display: grid;
  place-items: center;
}
.actionCannotComplete .innerActionCannotComplete .cannotCompleteCancel span{
  color: var(--color_six);
}

.animateCannotComplete{
  -webkit-animation: userio 3s;
  animation: userio 3s;
}

@keyframes userio {
  1%{
      transform: translateX(-10px);
  }
  2%{
      transform: translateX(10px);
  }
  3%{
      transform: translateX(-10px);
  }
  4%{
      transform: translateX(10px);
  }
  5%{
      transform: translateX(0px);
  }
  96%{
      transform: translateX(0px);
  }
  97%{
      transform: translateX(10px);
  }
  98%{
      transform: translateX(-10px);
  }
  99%{
      transform: translateX(10px);
  }
  100%{
      transform: translateX(-10px);
  }

}


/* for mobile */
@media screen and (max-width: 650px) {
  .hasSearch{
      top: 0;
  }
  .topNav{
      display: none;
  }
  .hasSearch .menuBtn{
      display: flex;
  }
  .sideMenu{
    width: 100%;
  }
}
